body {
    margin: 0;
    background-image: url('/images/bodyBackgroundImg.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

/* width */
::-webkit-scrollbar {
    width: 0;
}

.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1% 5%;
}

.navContainer a {
    display: inline-block;
    color: white;
    text-decoration: none;
    max-width: 100px;
    min-width: 80px;
    width: 7vw;
    text-align: center;
}

.leftSection {
    display: flex;
    align-items: center;
}

.leftSection img {
    width: 50px;
    height: 50px;
    aspect-ratio: 1/2;
    margin-right: 5vw;
    filter: drop-shadow(0 0 5px #25302d);
}
.signUpBtn {
    background-color: #1f342b;
    border-radius: 8px;
    padding: 8px 0;
    box-shadow: 0 0 5px #33413e;
    font-size: 0.9rem;
}

.signInBtn {
    background-color: #1c4b3d;
    border-radius: 8px;
    padding: 8px 0;
    margin-right: 30px;
    box-shadow: 0 0 5px #101d19;
    font-size: 0.9rem;
}

.mainContainer {
    margin: 0 5%;
}

/* register */

.registerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80vh;
}
.registerContainer .title{
    height: 40vh;
    font-size: clamp(1.5rem,3vw,3rem);
    background-color: #1c4b3d;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border-radius: 18px 0 0 18px;
    box-shadow: 0 0 5px #101d19;
}
.registerContainer .formCard{
    display: flex;
    flex-direction: column;
    width: 30vw;
    background-color: #f1f1f6;
    padding: 24px;
    border-radius: 18px;
    box-shadow: 0 0 5px #101d19;
}
.registerContainer .formCard label{
    margin: 8px 0;
    color: #7a7a7a;
}
.registerContainer .formCard input{
    margin: 8px 0;
    padding: 10px 12px;
    border: none;
    outline: none;
    color: #7a7a7a;
    border-radius: 8px;
}
.registerContainer .formCard span{
    color: #7a7a7a;
}
.registerContainer .formCard select{
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    color: #7a7a7a;
    outline: none;
}
.registerContainer .formCard button{
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    background-color: #1c4b3d;
    cursor: pointer;
    font-size: 1rem;
}
.loginContainer{
    margin-top: 2%;
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url("/images/loginBackground.jpg");
    border-radius: 18px;
}
.loginContainer .formCard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20vw;
    height: 20vh;
    background-color: #f1f1f6;
    padding: 24px;
    border-radius: 18px;
    box-shadow: 0 0 5px #101d19;
    margin: 0;
    margin-bottom: 20vh;
}
.loginContainer input{
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 8px;
}
.loginContainer .submit{
    padding: 10px;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    background-color: #1c4b3d;
    cursor: pointer;
    font-size: 1rem;
}
/* landing */
.row {
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.row .leftCol,
.rightCol {
    width: 50%;
    position: relative;
}

.row .leftCol h1 {
    font-size: clamp(3rem, 5vw, 5rem);
    font-weight: 300;
    color: white;
}

.row .leftCol p {
    color: #7a7a7a;
}

.row .leftCol a {
    width: 120px;
    text-align: center;
    display: inline-block;
    color: #313131;
    font-weight: 600;
    text-decoration: none;
    background-color: #14d7a4;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 4rem;
    box-shadow: 0 0 5px #101d19;
}

.row .leftCol a:nth-of-type(2) {
    color: white;
    margin-left: 50px;
    background-color: #1c4b3d;
}

.rightCol .imgCard img {
    width: 20vw;
    aspect-ratio: 1/1;
    border-radius: 18px;
    box-shadow: 0 0 5px #000000;
}

.imgCard {
    transition: all 0.5s ease-in-out;
}

.imgCard:nth-of-type(1) {
    position: absolute;
    top: 0;
    left: 5vh;
}

.imgCard:nth-of-type(2) {
    position: absolute;
    top: 10vh;
    right: 0;
}

.imgCard:nth-of-type(3) {
    position: absolute;
    top: 40vh;
    right: 10vh;
}

.imgCard:nth-of-type(4) {
    position: absolute;
    top: 30vh;
    left: -5vh;
}

.imgCard:hover {
    transform: scale(1.1);
    z-index: 2;
}

/* Jobs Page */
.JobContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    padding: 2%;
    height: 75vh;
    gap: 2%;
}

.filterSection {
    width: 22vw;
    max-width: 30vw;
    height: 75vh;
    border: 1px solid #7a7a7a;
    border-radius: 18px;
    color: white;
    padding: 16px;
}

.jobListSection {
    flex-grow: 1;
    border-radius: 18px;
    /* padding: 16px; */
    color: white;
    height: 80vh;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.filterSection header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filterSection header span {
    margin-left: 20px;
}

.jobListSection .jobCard {
    margin-bottom: 16px;
    padding: 16px;
    background-color: #f1f1f6;
    border-radius: 18px;
    color: #7a7a7a;
    cursor: pointer;
}

 .jobCard header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

 .jobCard header img {
    border: 1px solid #7a7a7a;
    border-radius: 50%;
}

 .jobCard header .jobCard__header__content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

 .jobCard header h3,
 .jobCard header p {
    margin: 0;
    margin-left: 30px;
}

 .jobCard section {
    margin: 16px 16px 0 16px;
}

 .jobCard section .jobDetails {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
}

 .jobCard section .jobDetails span {
    font-size: clamp(12px, 1vw, 14px);
    margin-left: 20px;
}
 .jobCard section .jobDetails b {
    width: 200px;
    font-size: clamp(12px, 1vw, 14px);
    /* margin-left: 20px; */
}

 .jobCard section .jobDetails .skillsChip {
    font-size: clamp(12px, 1vw, 14px);
    background-color: #14d7a4;
    padding: 6px 10px;
    border-radius: 8px;
    color: rgb(255, 255, 255);
}
 .jobCard section .jobDetails .updatedJob {
    font-size: clamp(12px, 1vw, 14px);
    background-color: #1c4b3d;
    padding: 6px 10px;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
 .jobCard section .jobDetails .deleteJob {
    font-size: clamp(12px, 1vw, 14px);
    background-color: #d71414;
    padding: 6px 10px;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-left: 20px;
}
/* job details */
  .JobDetailsContainer{
    position: relative;
    padding: 2%;
    height: 80vh;
  }
  .JobDetailsContainer .jobDetailsSection{
    flex-grow: 1;
    border-radius: 18px;
    color: white;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }
  .JobDetailsContainer .jobCard {
    padding: 16px;
    background-color: #f1f1f6;
    border-radius: 18px;
    color: #7a7a7a;
}
/* JobPost */
.postJobContainer .errorMessage{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:white
}
.postJobContainer section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 80vh;
    width: 50%;
    background-color: #f1f1f6;
    flex-direction: column;
    /* margin-top: 30px; */
    border-radius: 18px;
    margin: auto;
}
.postJobContainer section form{
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 0 5%;
    box-sizing: border-box;
    overflow: auto;
    margin: 0;
}
.postJobContainer section form .inputField{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    padding: 12px;
}
.postJobContainer section .buttonField{
    margin: 1em;
    /* margin-top: 0; */
    width: 100%;
    text-align: center;
}
.postJobContainer section .buttonField button{
    padding: 12px;
    border-radius: 12px;
    border: none;
    width: 120px;
    font-size: 14px;
    background-color: #1c4b3d;
    color: white;
    cursor: pointer;
}
.postJobContainer section form .inputField label{
    width: 200px;
    font-size: clamp(12px, 1vw, 14px);
    text-align: left;
    color: #7a7a7a;
}
.postJobContainer section form .inputField input{
    flex-grow: 1;
    font-size: 12px
    text-align: left;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 8px;
}
.postJobContainer section form .inputField select{
    flex-grow: 1;
    font-size: 12px
    text-align: left;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 8px;
}
input::placeholder{
    color: #a7a7a7;
    letter-spacing: 0.5px;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
}