<div class="JobContainer">
    <aside class="filterSection">
        <header><img src="/images/filterIcon.svg" alt=""><span>Filters</span></header>
        <div class="filterSection__content">
        </div>
    </aside>
    <section class="jobListSection">
            <div class="jobCard">
                <header>
                    <div class="jobCard__header__content">
                        <img src="/images/reactIcon.svg" alt="">
                        <div>
                            <h3>Job Title</h3>
                            <p>Job Description</p>
                        </div>
                    </div>
                    <div>
                        <p>Posted 2 days ago</p>
                    </div>
                </header>
                <section>
                    <div class="jobDetails">
                        <img src="/images/workIcon.svg" alt="">
                        <span>Full Stack Developer</span>
                    </div>
                    <div class="jobDetails">
                        <img src="/images/rupeeIcon.svg" alt="">
                        <span>10 LPA</span>
                    </div>
                    <div class="jobDetails">
                        <img src="/images/locationIcon.svg" alt="">
                        <span>Hyderabad,India</span>
                    </div>
                    <div class="jobDetails">
                        <span class="skillsChip">React</span>
                        <span class="skillsChip">NodeJs</span>
                        <span class="skillsChip">JavaScript</span>
                    </div>
                </section>
            </div>
            <div class="jobCard">
                <header>
                    <div class="jobCard__header__content">
                        <img src="/images/reactIcon.svg" alt="">
                        <div>
                            <h3>Job Title</h3>
                            <p>Job Description</p>
                        </div>
                    </div>
                    <div>
                        <p>Posted 2 days ago</p>
                    </div>
                </header>
                <section>
                    <div class="jobDetails">
                        <img src="/images/workIcon.svg" alt="">
                        <span>Full Stack Developer</span>
                    </div>
                    <div class="jobDetails">
                        <img src="/images/rupeeIcon.svg" alt="">
                        <span>10 LPA</span>
                    </div>
                    <div class="jobDetails">
                        <img src="/images/locationIcon.svg" alt="">
                        <span>Hyderabad,India</span>
                    </div>
                    <div class="jobDetails">
                        <span class="skillsChip">React</span>
                        <span class="skillsChip">NodeJs</span>
                        <span class="skillsChip">JavaScript</span>
                    </div>
                </section>
            </div>
            <div class="jobCard">
                <header>
                    <div class="jobCard__header__content">
                        <img src="/images/reactIcon.svg" alt="">
                        <div>
                            <h3>Job Title</h3>
                            <p>Job Description</p>
                        </div>
                    </div>
                    <div>
                        <p>Posted 2 days ago</p>
                    </div>
                </header>
                <section>
                    <div class="jobDetails">
                        <img src="/images/workIcon.svg" alt="">
                        <span>Full Stack Developer</span>
                    </div>
                    <div class="jobDetails">
                        <img src="/images/rupeeIcon.svg" alt="">
                        <span>10 LPA</span>
                    </div>
                    <div class="jobDetails">
                        <img src="/images/locationIcon.svg" alt="">
                        <span>Hyderabad,India</span>
                    </div>
                    <div class="jobDetails">
                        <span class="skillsChip">React</span>
                        <span class="skillsChip">NodeJs</span>
                        <span class="skillsChip">JavaScript</span>
                    </div>
                </section>
            </div>
    </section>
</div>