<div class="JobContainer">
    <input type="hidden" id="jobsData" value='<%= JSON.stringify(jobs) %>' />
    <aside class="filterSection">
        <header><img src="/images/filterIcon.svg" alt=""><span>Filters</span></header>
        <div class="filterSection__content">
            <div class="filterMenu">
                <p>Company</p>
                <select id="company" name="company">
                    <option value="" selected disabled>select company</option>
                    <option value="all">All</option>
                </select>
            </div>
            <div class="filterMenu">
                <p>Location</p>
                <select id="location" name="location">
                    <option value="" selected disabled>select location</option>
                    <option value="all" >All</option>
                </select>
            </div>
            <div class="filterMenu">
                <p>Job Category</p>
                <select id="jobCategory" name="jobCategory">
                    <option value="" selected disabled>select category</option>
                    <option value="all" >All</option>
                </select>
            </div>
            <div class="filterMenu">
                <p>Job Designation</p>
                <select id="jobDesignation" name="jobDesignation">
                    <option value="" selected disabled>select designation</option>
                    <option value="all" >All</option>
                </select>
            </div>
        </div>
    </aside>
    <section class="jobListSection">
        
    </section>
</div>