<div class="row">
    <div class="leftCol">
        <h1>Follow your<br>dream job.</h1>
        <p>Explore thousands of jobs in one place get the job of your dream.</p>
        <a href="/jobs">Explore Jobs</a>
        <a href="/postJobs">Post Jobs</a>
    </div>
    <div class="rightCol">
        <div class="imgCard">
            <img src="/images/sachiv.png" alt="">
        </div>
        <div class="imgCard">
            <img src="/images/pradhan.png" alt="">
        </div>
        <div class="imgCard">
            <img src="/images/bhusan.png" alt="">
        </div>
        <div class="imgCard">
            <img src="/images/vidhayak.png" alt="">
        </div>
    </div>
</div>