<div class="row">
    <div class="leftCol">
        <h1>Follow your dream job.</h1>
        <p>Explore thousands of jobs in one place and get the job of your dream.</p>
        <a href="">Explore Jobs</a>
    </div>
    <div class="rightCol">
        <div class="imgCard">
            <img src="/images/sachiv.png" alt="">
        </div>
        <div class="imgCard">
            <img src="/images/pradhan.png" alt="">
        </div>
        <div class="imgCard">
            <img src="/images/bhusan.png" alt="">
        </div>
    </div>
</div>