<div class="loginContainer">
  <form  action="/login" method="post" class="formCard">
    <input type="email" placeholder="Enter your email..." name="email" required>
    <input type="password" placeholder="Enter your password..." name="password" id="password" required>
    <button type="submit" class="submit">Login</button>
  </form>
</div>