<div class="registerContainer">
   <div class="title">Talk to HR directly & <br>
    get a job with better salary!</div>
   <div>
      <form  class="formCard">
        <label for="name">Name</label>
        <input type="text" name="name" placeholder="Enter your name..." required>
        <label for="email">Email</label>
        <input type="email" placeholder="Enter your email..." name="email" required>
        <label for="password">Password</label>
        <input type="password" placeholder="Create password..." name="password" id="password" required>
        <label for="password">Confirm Password</label>
        <input type="password" placeholder="Confirm password..." name="confirmPassword" id="confirmPassword" required>
        <span>I am a </span>
        <select name="role" id="role">
         <option value="" disabled selected>Select your role</option>
            <option value="jobSeeker">Job Seeker</option>
            <option value="recruiter">Recruiter</option>
        </select>
        <button type="submit" class="submit">Register</button>
      </form>
   </div>
</div>